html, body {
  background-color: #788aa5;
}

.center {
  text-align: center;
}

#game {
  /*border: 1px solid black;*/
  width: 300px;
  height: 300px;
}

#game-container {
  /*margin-left: 15px;*/
}

.main-container {
  margin-top: 10px;
  padding: 50px 100px 50px 100px;
  width: 500px;
  background-color: #ffffc9;
}


/* Game styles */
.pixel {
  /*border: 1px solid black;*/
  width: 10px;
  height: 10px;
}

.snake {
  background-color: black;
}

.food {
  background-color: red;
}

.background {
  background-color: #d9ddd2;
}
