/*
Colors:
  flame: #E4572E
  sunny: #F0F66E
  honneydew: #F0F8EA
  laurel green: #A8C686
  turtle green: #9D9C62

*/


html, body {
  background-color: #788aa5;
}

.center {
  text-align: center;
}

#game-over {
  width: 300px;
  height: 300px;
  background: darkgreen;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#game {
  width: 300px;
  height: 300px;
}

#title {
  background-color: #F0F8EA;
}

.main-container {
  margin-top: 10px;
  padding: 50px 100px 50px 100px;
  width: 500px;
  background-color: #A8C686;
}


/* Game styles */
.pixel {
  width: 10px;
  height: 10px;
}

.snake {
  border: 1px solid #F0F8EA;
  background-color: black;
}

.food {
  border: 1px solid #F0F8EA;
  background-color: #E4572E;
}

.background {
  background-color: #F0F8EA;
}
